:host {
    display: block;
    position: relative;
}

.mat-form-field {
    width: 100%;
}

.mat-radio-group {
    margin-bottom: 12px;
    display: block;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-checkbox {
    margin-bottom: 12px;
}
.mat-checkbox ~ .mat-checkbox {
    margin-left: 16px;
}

.ghost {
    opacity: 20%;
}

.edit-mode {
    &:hover {
        border: black solid 1px;
        border-radius: 5px;
        opacity: 1;
        .edit-controls {
            visibility: inherit;
        }
    }
}

.edit-controls {
    position: absolute;
    right: 0px;
    top: -1rem;
    visibility: hidden;
    z-index: 100;
    button {
        margin-right: 0.25rem;
    }
}