<div *ngIf="item" [class.edit-mode]="editMode" [class.ghost]="!isDisplayed">
    <div *ngIf="editMode" class="edit-controls">
        <button color="primary" mat-mini-fab type="button" (click)="editItem()">
            <mat-icon>edit</mat-icon>
        </button>
        <button color="primary" mat-mini-fab type="button" (click)="deleteItem()">
            <mat-icon>delete</mat-icon>
        </button>
        <button color="primary" mat-mini-fab type="button">
            <mat-icon>drag_indicator</mat-icon>
        </button>
    </div>
    <div *ngIf="item.isFormField">
        <mat-form-field [ngSwitch]="item.questionType" appearance="fill">
            <mat-label [innerHtml]="item.text"></mat-label>

            <!-- Text -->
            <input *ngSwitchCase="ItemType.text" matInput [formControl]="control" />

            <!-- Numeric -->
            <input *ngSwitchCase="ItemType.numeric" type="number" matInput [formControl]="control" />

            <!-- Multiline Text -->
            <textarea *ngSwitchCase="ItemType.multilineText" matInput rows="5" [formControl]="control"></textarea>

            <!-- Rich Text -->
            <app-rich-text-editor *ngSwitchCase="ItemType.richText" [formControl]="control"></app-rich-text-editor>

            <!-- Date picker -->
            <input *ngSwitchCase="ItemType.date" matInput [matDatepicker]="picker" [formControl]="control">
            <mat-datepicker-toggle *ngSwitchCase="ItemType.date" matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <!-- Drop down -->
            <mat-select *ngSwitchCase="ItemType.dropdown" [formControl]="control">
                <mat-option *ngFor="let option of item.options" [value]="option.value">
                    {{option.text}}
                </mat-option>
            </mat-select>

            <!-- Not found -->
            <div *ngSwitchDefault>
                <input matInput />
                <mat-error>{{getError()}}</mat-error>
            </div>
        </mat-form-field>
    </div>
    <div *ngIf="!item.isFormField">
        <ng-container [ngSwitch]="item.questionType">
            <!-- Info -->
            <p *ngSwitchCase="ItemType.info" [innerHtml]="item.text"></p>

            <!-- Radio Buttons -->
            <mat-radio-group *ngSwitchCase="ItemType.radioButtons" [formControl]="control">
                <p [innerHtml]="item.text"></p>
                <mat-radio-button *ngFor="let option of item.options" [value]="option.value">
                    {{option.text}}
                </mat-radio-button>
            </mat-radio-group>

            <!-- Checkboxes -->
            <app-checkbox-list *ngSwitchCase="ItemType.multiselect" [labelText]="item.text" [options]="item.options"
                [formControl]="control">
            </app-checkbox-list>

            <!-- Time picker -->
            <ng-container *ngSwitchCase="ItemType.time">
                <p [innerHtml]="item.text"></p>
                <ngx-mat-timepicker [formControl]="control"></ngx-mat-timepicker>
            </ng-container>

            <!-- Number Range -->
            <app-numeric-range *ngSwitchCase="ItemType.numberRange" [labelText]="item.text"></app-numeric-range>

            <!-- Input Table -->
            <app-input-table *ngSwitchCase="ItemType.inputTable" [labelText]="item.text" [fields]="item.fields">
            </app-input-table>

            <!-- Not found -->
            <div *ngSwitchDefault>
                <p style="color: red;">{{getError()}}</p>
            </div>
        </ng-container>
    </div>
</div>