.mat-form-field {
    width: 100%;
}

.mat-radio-group {
    margin-bottom: 12px;
    display: block;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

.mat-checkbox {
    margin-bottom: 12px;
}
.mat-checkbox ~ .mat-checkbox {
    margin-left: 16px;
}
