<p mat-dialog-title>Item Editor</p>
<form [formGroup]="form">
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>ID</mat-label>
            <input matInput formControlName="id">
            <mat-error *ngIf="form.controls.id.errors?.required">Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="pageList$ | async as pageList">
            <mat-label>Page</mat-label>
            <mat-select formControlName='pageId'>
                <mat-option *ngFor="let page of pageList" [value]="page.pageId">
                    {{page.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description">
            <mat-error *ngIf="form.controls.description.errors?.required">Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Text</mat-label>
            <app-rich-text-editor formControlName='text'></app-rich-text-editor>
            <mat-error *ngIf="form.controls.text.errors?.required">Required</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Question Type</mat-label>
            <mat-select formControlName='questionType'>
                <mat-option *ngFor="let typeName of questionTypes" [value]="typeName">
                    {{typeName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Order</mat-label>
            <input matInput type="number" formControlName="order">
            <mat-error *ngIf="form.controls.order.errors?.required">Required</mat-error>
        </mat-form-field>
        <app-options-editor *ngIf="form.controls.questionType.value == ItemType.dropdown" formControlName="options">
        </app-options-editor>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit" (click)="save()">Save</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</form>