Options:
<table mat-table [dataSource]="options" class="mat-elevation-z8">
    <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef>Value</th>
        <td mat-cell *matCellDef="let option">
            <mat-form-field appearance="fill"><input matInput [value]="option.value"
                    (change)="valueChange(option.id, $event.target)">
            </mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef>Text</th>
        <td mat-cell *matCellDef="let option">
            <mat-form-field appearance="fill"><input matInput [value]="option.text"
                    (change)="textChange(option.id, $event.target)"></mat-form-field>
        </td>
    </ng-container>
    <ng-container matColumnDef="editButtons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let option">
            <button color="primary" mat-mini-fab type="button" (click)="deleteItem(option.value)">
                <mat-icon>delete</mat-icon>
            </button>
            <button color="primary" mat-mini-fab type="button">
                <mat-icon>drag_indicator</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="optionColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: optionColumns;"></tr>
</table>