<p [innerHtml]="labelText"></p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let column of fields" [matColumnDef]="column.text">
        <th mat-header-cell *matHeaderCellDef>{{column.text}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container [ngSwitch]="column.type">
                <!-- Text -->
                <mat-form-field *ngSwitchCase="FieldType.text" appearance="fill">
                    <input matInput />
                </mat-form-field>

                <!-- Number -->
                <mat-form-field *ngSwitchCase="FieldType.number" appearance="fill">
                    <input matInput type="number" />
                </mat-form-field>

                <!-- Number -->
                <mat-form-field *ngSwitchCase="FieldType.currency" appearance="fill">
                    <input matInput type="number" />
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>

                <!-- Date -->
                <mat-form-field *ngSwitchCase="FieldType.date" appearance="fill">
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- Time -->
                <ngx-mat-timepicker *ngSwitchCase="FieldType.time"></ngx-mat-timepicker>

                <!-- Multiline Text -->
                <mat-form-field *ngSwitchCase="FieldType.multilineText" appearance="fill">
                    <textarea rows="5" matInput></textarea>
                </mat-form-field>

                <!-- Not found -->
                <div *ngSwitchDefault>
                    <p style="color: red;">{{getError(column)}}</p>
                </div>
            </ng-container>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>